body {
    background-color: grey;
}

.register-container {
	width: 550px;
	margin: 20px auto auto;
	border: 1px solid #000;
	padding: 20px;
	background-color: lightgrey;
}



table td 
{
	width:"200";
}

