.bgimg {
    background-image: url('../images/start_page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

.register-container {
	width: 400px;
	margin: 20px auto auto;
	border: 1px solid #000;
	padding: 20px;
	background-color: lightgrey;
}

.form-group {
	width: 300px;
	margin-top: 5px;
	margin-bottom: 5px;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.article-card {
	margin-top: 10px;
	margin-bottom: 10px;
}